<h1>Patisserie KN</h1>

<br />

<div>
  <p>Test intégration du template :</p>
  <p><%= link_to "HomePage template", template1_path %></p>
  <p><%= link_to "Shop template", template2_path %></p>
</div>
