// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.slice-lg.has-bg-cover.bg-size-cover.trianglify-admin{
	background-image: asset-url(trianglify-admin);
	background-position: bottom center;
}
.slice-lg.page-title.banner-cake{
	background-image: asset-url(Banner_cake4);
	background-position: 60% 40%;
    background-size: 100% auto;
}