<section class="slice-lg page-title bg-minimalist">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center">
                    <h3 class="heading heading-1 strong-400 text-capitalize mb-2">
                        <span>Patisserie</span>
                    </h3>
                </div>

                <!-- Fluid text paragraph -->
                <div class="fluid-paragraph text-center mt-4">
                    <p class="">
                        Bienvenue dans notre patisserie, vous pouvez dès à present commander.
                    </p>
                    <a href="#" class="btn btn-styled btn-base-4 mt-4" data-scroll-to="#sct_products">
                        Voir les produits
                    </a>
                    <% if user_signed_in? %>
                    <% if current_user.admin == true %>
                    <%= link_to "Créer un produit", new_product_path(@product), class: "btn btn-styled btn-base-4 mt-4" %>
                    <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-1" id="sct_products">
    <div class="container">
        <div class="row-wrapper">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
            	<% @products.each do |product| %>
                <div class="col-lg-3 col-md-6">
                    <div class="block product no-radius">
                        <div class="product-image">
                            <div class="view view-first">
                                <a href="#">
                                    <%= link_to image_tag("img-1a.png"), product_path(product) %>
                                </a>
                            </div>
                        </div>

                        <div class="block-body px-0">
                            <h3 class="heading heading-6 strong-500 text-capitalize mb-0"><%= product.name %></h3>
                            <div class="price-wrapper">
                                <span class="price heading-6 c-gray-light strong-400"><span class="price-value"><%= product.price %>€</span></span>
                            </div>
                            <div class="btn btn-primary">Ajouter au panier</div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</section>