<section class="slice-lg page-title banner-cake">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="right">
                <span class="text-uppercase strong-400 c-white">N'attendez plus</span><br>
                <span class="strong-400 c-white">
                  Commandez
                </span>
                <br>
                <span class="strong-600 c-white">
                  votre gateau de Noël
                </span>
                <br>
                <a href="#" class="btn btn-styled btn-base-4 mt-4" data-scroll-to="#sct_products">
                  Voir les produits
                </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="slice sct-color-1" id="sct_products">
  <div class="container">
    <div class="row-wrapper">
      <div class="row cols-xs-space cols-sm-space cols-md-space">
      	<% @products.each do |product| %>
          <div class="col-lg-3 col-md-6">
            <div class="block product no-radius">
              <% if product.image.attached? %>
                <%= link_to image_tag(product.image, size: "250", class: "view view-first"), product_path(product), class: "product-image" %>
              <% else %>
                <%= link_to image_tag("no-image.png"), product_path(product) %>
              <% end %>
              <div class="block-body px-0">
                <%= link_to "#{product.name}", product_path(product), class: "heading heading-6 strong-500 text-capitalize mb-0 d-flex justify-content-center" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
