<section class="slice-lg has-bg-cover bg-size-cover">
    <div class="container">
        <div class="row justify-content-center cols-xs-space">
            <div class="col-lg-6">
                <div class="form-card form-card--style-2 z-depth-2-top">
                    <div class="form-header text-center">
                        <div class="form-header-icon">
                            <i class="icon ion-ios-checkmark-circle-outline"></i>
                        </div>
                    </div>
                    <div class="form-body">

                        <div class="text-center px-2">
                            <h4 class="heading heading-4 strong-400 mb-4">Votre commande à bien été prise en compte !</h4>
                        </div>
                        <div class="text-center">
                        	<p>Nous prendrons contact rapidement avec vous afin de définir une date de livraison.</p>
                        </div>
                        <div class="text-center">
                        	<p>Nous vous remercions de votre confiance. Patisserie KN.</p>
                        </div>
                        <div class="text-center">
               		     <%= link_to "Retourner à l'accueil", root_path, class: "btn btn-styled btn-block btn-base-1 mt-4" %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>