<!-- footer -->
<footer class="light-footer">
<div class="widget-area">
    <div class="container">
        <div class="row">



            <div class="col-md-2"></div>
            <!-- / third widget -->

            <div class="col-md-4 widget">
                <div class="widget-title">
                    <h4>CONTACT</h4>
                </div>
                <div class="contact-widget">
                    <div class="info">
                        <p><i class="fa fa-map-marker"></i><span>Lille</span></p>
                    </div>
                    <div class="info">
                        <a href="tel:+000000000000"><i class="fa fa-phone"></i><span>+33 00000000</span></a>
                    </div>
                    <div class="info">
                        <a href="mailto:hello@yoursite.com"><i class="fa fa-envelope-o"></i><span>Patisseriekn@gmail.com</span></a>
                    </div>
                    <div class="info">
                        <i class="fa fa-thumbs-o-up"></i>
                        <span class="social text-left">
                            <a class="no-margin" href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </span>
                    </div>
                </div><!-- / contact-widget -->
            </div><!-- / widget -->
            <!-- / fourth widget -->

        </div><!-- / row -->
    </div><!-- / container -->
</div><!-- / widget-area -->
<div class="footer-info">
    <div class="container">
            <div class="pull-left copyright">
                <p><strong>© Patisserie KN</strong></p>
            
</div><!-- / footer-info -->
</footer>
<!-- / footer -->