<footer id="footer" class="footer footer-inverse">
    <div>
        <div class="container">
            <div class="text-center">
                <ul class="footer-menu">
                    <li>
                        <%= link_to "Accueil", root_path %>
                    </li>
                    <li>
                        <a href="#">À propos</a>
                    </li>
                    <li>
                        <%= link_to "Shop", root_path %>
                    </li>
                    <li class="logo-delimiter">
                        <%= link_to image_tag("logo.png", alt: "Patisserie KN"), root_path %>
                    </li>
                    <li>
                        <a href="#">CGU</a>
                    </li>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>