<p>Bonjour <%= @resource.email %>!</p>

<p>Quelqu'un à soumis une requête de changement de mot de passe, vous pourrez le modifier en cliquant ci dessous.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token), class: "btn btn-styled btn-lg btn-block btn-base-1 mt-4" %></p>

<p>Si vous n'êtes pas l'auteur de cette requête, merci d'ignorer ce mail.</p>
<p>Votre mot de passe ne changera pas tant que vous ne l'aurez pas modifier via le lien ci dessus.</p>